<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GDAL" version="3.7.2" targetFramework="net48" />
  <package id="GDAL.Native" version="3.7.2" targetFramework="net48" />
  <package id="GDAL.Plugins" version="3.7.2" targetFramework="net48" />
  <package id="Grasshopper" version="8.12.24282.7001" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="8.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="8.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="6.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="8.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.8" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="OsmSharp" version="6.2.0" targetFramework="net48" />
  <package id="protobuf-net" version="3.2.30" targetFramework="net48" />
  <package id="protobuf-net.Core" version="3.2.30" targetFramework="net48" />
  <package id="RhinoCommon" version="8.12.24282.7001" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.8" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.8" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.6" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Unofficial.laszip.netstandard" version="5.5.2" targetFramework="net48" />
</packages>